backend/.env
frontend/.env
*.env
node_modules/
frontend/node_modules/.cache/default-development/11.pack
frontend/node_modules/.cache/default-development/3.pack
frontend/node_modules/.cache/default-development/5.pack
frontend/node_modules/.cache/default-development/1.pack
frontend/node_modules/.cache/default-development/8.pack
.env
.env.*
credentials.json
*.pem
*.key
.credentials
